<h1>Welcome to student registration Page..</h1>

<h2>{{title}}</h2>
<mat-toolbar>
    <div class="example-label">
        <button mat-button color="warn" routerLink="hom">Home</button>&nbsp;
        <button mat-button color="warn" routerLink="log">Login</button>&nbsp;
        <button mat-button color="warn" routerLink="reg">Registartion</button>&nbsp;
        <button mat-button color="warn" routerLink="com">NewComp</button>
        <button mat-button color="warn" routerLink="pip">Pipe</button>
    </div>
</mat-toolbar>
<h2 appCustomName>Welcome to Directory</h2>
<h2 appCustomName>Directory Design</h2>
<h2 appCustomName>Directory color change</h2>



<router-outlet>

</router-outlet>