<!--<nav class="navbar navbar-dark bg-dark" style="margin-bottom:150px;"></nav>
<div class="container">
    <div class="card-content">
        <div class="card-header ">
            <h4>Write your Comment</h4>
        </div>
        <div class="card-body">Pass Comment
            <input type="text" class="form-control" |/>
            <input type="button" value="submit" (click)="Transfer()" class="btn btn-primary">
        </div>
    </div>
</div> -->
<!--<input type="text" [(ngModel)]="parentData">
<input type="button" value="submit" (click)="Transfer()">
<app-home [parentData]="parentData">
</app-home> -->
{{value}}
<app-home (sentDada)="sentData($any($event))"></app-home>